<div class="ui-g-12">
    <div class="ui-lg-5 ui-md-5 ui-sm-12"></div>
</div>
<div class="ui-g-12">
    <p-card header="LAB TEST">
        <div class="ui-g ui-fluid">
            <hr style="height:2px;width:100%;background-color:#479761; margin-top: 0px">
            <div class="ui-lg-8 ui-md-8 ui-sm-12">
                <form style="width:100%;">
                    <!-- Lab Test field -->
                    <div class="ui-g ui-fluid">
                        <div class="ui-md-2 ui-lg-2"></div>
                        <div class="ui-md-7 ui-lg-7 ui-sm-12">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon" style="height:35px;width:40%;font-size:15px; font-weight: bold;">Lab Test</span>
                                <p-dropdown filter="true" name="Department_Name" placeholder="Select Labtest" ptooltip="Select Department Name" tooltipevent="hover" tooltipposition="top"></p-dropdown>
                            </div>
                        </div>
                    </div>
                    <!-- Department Field -->
                    <div class="ui-g ui-fluid">
                        <div class="ui-md-2 ui-lg-2"></div>
                        <div class="ui-md-8 ui-lg-8 ui-sm-12">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon" style="width:37%;font-size:15px;font-weight: bold;">Department<i style="color: red">*</i></span>
                                <!-- <label></label> -->
                                <p-dropdown filter="true" name="Department_Name" placeholder="Select Deparment" ptooltip="Select Department Name" tooltipevent="hover" tooltipposition="top"></p-dropdown>
                                <!--Get Event on department insertion-->
                                <app-department></app-department>
                            </div>
                        </div>
                    </div>
                    <!-- Sub Test Field -->
                    <div class="ui-g ui-fluid">
                        <div class="ui-md-2 ui-lg-2"></div>
                        <div class="ui-md-8 ui-lg-8 ui-sm-12">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon" style="height:35px;width:37%;font-size:15px; font-weight: bold;">SubTest<i style="color: red">*</i></span>
                                <p-dropdown filter="true" name="subtest" placeholder="Select Subtest" ptooltip="Select Subtest Name" required tooltipevent="hover" tooltipposition="top"></p-dropdown>
                                <app-sub-test></app-sub-test>
                            </div>
                        </div>
                    </div>
                    <!-- Unit Field -->
                    <div class="ui-g ui-fluid">
                        <div class="ui-md-2 ui-lg-2"></div>
                        <div class="ui-md-8 ui-lg-8 ui-sm-12">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon" style="height:35px;width:37%;font-size:15px;font-weight: bold;">Unit</span>
                                <p-dropdown filter="true" name="unit" placeholder="Select Unit" ptooltip="Select Unit Name" required tooltipevent="hover" tooltipposition="top"></p-dropdown>
                                <app-unit></app-unit>
                            </div>
                        </div>
                    </div>
                    <!-- Normal Values Field -->
                    <div class="ui-g ui-fluid">
                        <div class="ui-md-2 ui-lg-2"></div>
                        <div class="ui-g-8 ui-sm-12">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon" style="width:37%;font-size:15px;font-weight: bold;">Normal Value</span>
                                <p-dropdown filter="true" name="normalValue" placeholder="Select Normal value" ptooltip="Select Normal value" required tooltipevent="hover" tooltipposition="top"></p-dropdown>
                                <app-normal-value></app-normal-value>
                            </div>
                        </div>
                    </div>
                    <!-- Save Button -->
                    <div class="ui-g ui-fluid">
                        <div class="ui-md-2 ui-lg-2"></div>
                        <div class="ui-md-3 ui-lg-3 ui-sm-12"></div>
                    </div>
                </form>
            </div>
        </div>
    </p-card>
</div>
<div class="ui-lg-12 ui-md-12 ui-sm-12">
    <app-report-table></app-report-table>
</div>
<div class="ui-g ui-fluid">
    <div class="ui-md-4 ui-lg-4"></div>
    <div class="ui-md-4 ui-lg-4 ui-sm-12"></div>
</div>