<div class="ui-g-12">
    <div class="ui-lg-5 ui-md-5 ui-sm-12">
        <button pButton type="button" label="Back" class="backBtnStyle" style="margin-left: 14%;
    margin-bottom: -3%;
    height: 35px;
    width: 30%;
    width: 50%;"></button>
    </div>
</div>
<div class="ui-g-12">
    <p-card header="LAB TEST" [style]="{
  'font-size': '20px',
    'text-align': 'center',
    width: '100%',
  color: '#479761',
  'margin-bottom':'20px'
}">



        <div class="ui-g ui-fluid">
            <hr style="height:2px;width:100%;background-color:#479761; margin-top: 0px" />
            <div class="ui-lg-8 ui-md-8 ui-sm-12">
                <form style="width:100%;">
                    <!-- Lab Test field -->
                    <div class="ui-g ui-fluid">
                        <div class="ui-md-2 ui-lg-2"></div>
                        <div class="ui-md-7 ui-lg-7 ui-sm-12">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon" style="height:35px;width:37%;font-size:15px; font-weight: bold;">
                  Lab Test</span>
                                <input type="text" pInputText />


                            </div>
                        </div>
                    </div>

                    <!-- Department Field -->

                    <div class="ui-g ui-fluid">
                        <div class="ui-md-2 ui-lg-2"></div>
                        <div class="ui-md-7 ui-lg-7 ui-sm-12">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon" style="width:37%;font-size:15px;font-weight: bold;">
                                     Department</span>
                                     <!-- <label></label> -->
                                <p-dropdown [options]="departments" name="Department_Name" (onChange)="showSelectedDept()" [(ngModel)]="departmentName"  filter="true" [style]="{width:'350px',height:'35px'}"></p-dropdown>
                           
                  <!--Get Event on department insertion-->
                                <app-department (valueChange)='getDepartment()' [editDepartment]="departmentName"></app-department>
                                

                            </div>
                        </div>
                    </div>


                    <!-- Sub Test Field -->
                    <div class="ui-g ui-fluid">
                        <div class="ui-md-2 ui-lg-2"></div>
                        <div class="ui-md-8 ui-lg-8 ui-sm-12">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon" style="height:35px;width:37%;font-size:15px; font-weight: bold;">
                  Sub Test<i style="color: red">*</i></span>
                                <p-dropdown [options]="subTest" name="sub_test" filter="true" [style]="{width:'350px',height:'35px'}"></p-dropdown>
                                <app-sub-test (valueChange)='getSubTest()'></app-sub-test>
                                <i class="pi pi-cog" style="font-size: 30px;color:#479761;cursor: pointer"></i>
                            </div>
                        </div>
                    </div>
                    <!-- Unit Field -->
                    <div class="ui-g ui-fluid">
                        <div class="ui-md-2 ui-lg-2"></div>
                        <div class="ui-md-8 ui-lg-8 ui-sm-12">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon" style="height:35px;width:37%;font-size:15px;font-weight: bold;">
                  Unit</span>
                                <p-dropdown [options]="unit" name="unit" filter="true" [style]="{width:'350px',height:'35px'}"></p-dropdown>
                                <app-unit (valueChange)="getUnit()"></app-unit>
                                <i class="pi pi-cog" style="font-size: 30px;color:#479761;cursor: pointer"></i>

                            </div>

                        </div>
                    </div>
                    <!-- Normal Values Field -->
                    <div class="ui-g ui-fluid">
                        <div class="ui-md-2 ui-lg-2"></div>
                        <div class="ui-g-8 ui-sm-12">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon" style="width:37%;font-size:15px;font-weight: bold;">
                  Normal Value</span>
                                <p-dropdown [options]="normalValue" name="normalValue" filter="true" [style]="{width:'350px',height:'35px'}"></p-dropdown>
                                <app-normal-value (valueChange)="getNormalValue()"></app-normal-value>
                                <i class="pi pi-cog" style="font-size: 30px;color:#479761;cursor: pointer"></i>

                            </div>
                        </div>
                    </div>
                    <!-- Save Button -->
                    <div class="ui-g ui-fluid">
                        <div class="ui-md-2 ui-lg-2"></div>
                        <div class="ui-md-7 ui-lg-7 ui-sm-12">

                            <button pButton type="button" label="SAVE" class="backBtnStyle">
              </button>

                        </div>
                    </div>


                </form>
            </div>

        </div>


    </p-card>
</div>