.nav li {
    padding: 0px;
    display: inline;
    color: white;
    font-weight: bold;
}

.navbar-nav {
    /* display: flex; */
    flex-direction: row;
}

.navbarCss {
    background-color: #479761 !important;
    margin-bottom: 0px;
}

.dropdown-menu{ 

background-color: #479761 !important;

}
.nav>li>a {
    color: white;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color:#479761;
    font-size: 20px;
}

.dropdown-menu:hover{
    font-size: 20px;
}
/* .hover:hover{
    font-size: 20%;
} */



