<nav class="navbar navbarCss"
    style="padding:0px;">
    <div class="container-fluid"
        style="background-color:#075727e3">
        <div class="navbar-header">
            <a class="navbar-brand"
                href="mainscreen"
                routerLink="mainscreen"
                routerLinkActive="active"
                style="color:white;font-weight: bold;text-align: center">BARKHIA HOSPITAL</a>
        </div>
        <ul class="nav navbar-nav navbar-right">

            <a *ngIf="isHide"
                class="navbar-brand name"
                style="cursor:pointer"
                >
                <li>User Name: {{userName}}</li>
            </a>


            <li *ngIf="isHide"
                class="nav-item dropdown changeHover">
                <a class="nav-link"
                    href="#"
                    id="navbardrop"
                    data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i> Profile
                </a>    
                <div class="dropdown-menu">
                    <a *ngIf="isHide"
                        class="navbar-brand"
                        href="showOrProcessReports"
                        routerLink="showOrProcessReports"
                        routerLinkActive="active">

            <li>&#160;&#160;&#160;&#160;&#160;MainScreen</li>

            </a>
            <a *ngIf="isHide"
                class="navbar-brand logout"
                style="cursor:pointer">
                <li (click)="clearCache()"
                    style="text-align:center">&#160;&#160;&#160;&#160;&#160;<i
                        class="glyphicon glyphicon-log-out"></i><span>Logout</span></li>
            </a>

    </div>
    </li>

    </ul>

    </div>
</nav>