<a><i (click)="showDialog()" class="pi pi-plus" style="margin-left: 10px;font-size: 30px;color:#479761;cursor: pointer"></i></a>

<p-dialog header="" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{ width: '920px', minWidth: '200px', position: 'absolute' }" [minX]="70" [style]="{ float: 'top', 'overflow-wrap': 'break-word' }" style="overflow-wrap: break-word"
    [positionTop]="null" [maximizable]="true" [baseZIndex]="10000" [closeOnEscape]="true" [closable]="true">

    <div class="ui-g-12">
        <p-card header="ADD SUB TEST" [style]="{
      width: '100%',
      'font-size': '20px',
      'text-align': 'center',
      color: '#479761'
      }">
            <div class="ui-g ui-fluid">
                <hr style="height:2px;width:100%;background-color:#479761;" />
                <form style="width:100%;" (ngSubmit)="saveSubtest(subtestObj);refform.resetForm()" #refform="ngForm">
                    <!--Sub Test Field-->
                    <div class="ui-g">
                        <div class="ui-md-2 ui-lg-2"></div>
                        <div class="ui-md-8 ui-lg-8 ui-sm-12">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon" style="width:45%;font-size:15px;">Sub Test<i
                    style="color: red">*</i></span>
                                <input type="text" pInputText name="subtestName" [(ngModel)]="subtestObj.subtestName" />
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12"></div>
                    <p-footer>

                        <!-- Submit button -->
                        <button type="submit" class="backBtnStyle" pButton icon="pi pi-check" label="Save"></button>

                        <!-- Close button -->
                        <button type="button" pButton icon="pi pi-close" style="margin-left:10px" (click)="display=false" label="Cancel" class="ui-button-secondary"></button>
                    </p-footer>
                </form>
            </div>
        </p-card>
    </div>
</p-dialog>